/* #17a3b8 */
html{
    scroll-behavior: smooth;
  
}

body{
    margin: 0;
    padding: 0;
  
}

 .icon-box , .footerclass , .card-body{
    background-color: #17a3b8 ;
}

.quienessomos-section{
    background-color: #000;
}

.typeform{
    width:85%;
    height:400px;
}
.lineclass{
border-bottom: solid 1px #17a3b8
}
.wider{
    max-width: 1300px;
}